/* Universal Selector */
*
*::before,
*::after {
    box-sizing: border-box;
}

/* Element Selector w/ Class Selector */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Class Selector */
/* put all content inside a div on top of the body element */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Element Selector */
/* changes size of the element */
h1 {
    font-size: 40px;
}
/* Element Selector */
/* changes size of the element */
h2 {
    font-size: 25px;
}

/* Class Selector */
/* Places the text "Generate Password" to the left of the screen */
.generate {
    float: left;
}

/* ID Selector */
/* added style, size and placement of the text area */
#password {
    width: 650px;
    height: 200px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-style: italic;
}

/* Class Selector */
/* places button to the center at the bottom of the text area */
.button-spaces {
    margin-left: 200px;
    margin-top: 15px;
}

/* Element Selector */
/* adds style and size to the "Generate Password" button */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75px;
    font-size: 25px;
    background-color: rgb(205, 61, 61);
    color: white;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/* changes both curser and backgroun color of the button when mouse hover over it */ 
button:hover {
    cursor: pointer;
    background-color: black;
}

/* Media Query */
/* This adds the compatibility of other devices */
@media screen and (max-width: 996px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 18px;
        margin-left: 100px;
    }

    #password {
        width: 350px;
        height: 150px;
        border-style: dashed;
        border-width: 2px;
        border-radius: 2px;
        text-align: center;
        font-family: monospace;
        font-size: 15px;
        font-style: italic;
    }

    .button-spaces {
        margin-left: 85px;
        margin-top: 15px;
    }
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 60px;
        font-size: 18px;
        background-color: rgb(205, 61, 61);
        color: white;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    button:active {
        background-color: black;
    }
}
